# ignore sub repos
data
.creds
checkpoints

# python cache
__pycache__
*.pyc

#ipynob checkoukpoints
.ipynb_checkpoints

# quarto tmp files
*.css
*.woff
*.js
*.html

# repo file types
*.pt
*.keras
*.pickle
*.csv

# allow specific pytorch model files
!data/AlexNet8_pretrained.pt
!data/ResNet50_pretrained.pt
!data/VGG16_pretrained.pt