# ignore sub repos
data/api
data/cats
data/checkpoints
data/dogs
data/models
data/test1
data/train
.creds
checkpoints

# python cache
__pycache__
*.pyc

#ipynob checkoukpoints
.ipynb_checkpoints

# quarto tmp files
*.css
*.woff
*.js
*.html

# repo file types
*.keras
*.pickle
*.csv