# ignore sub repos
.creds
checkpoints

# ignore specific data subdirectories
data/api
data/arch
data/cats
data/checkpoints
data/dogs
data/test1
data/train

# python cache
__pycache__
*.pyc

#ipynob checkoukpoints
.ipynb_checkpoints

# quarto tmp files
*.css
*.woff
*.js
*.html

# repo file types
*.keras
*.pickle
*.csv