# ignore sub repos
data
.creds
checkpoints
.venv

# python cache
__pycache__
*.pyc

#ipynob checkoukpoints
.ipynb_checkpoints

# quarto tmp files
*.css
*.woff
*.js
*.html

# repo file types
*.pt
*.keras
*.pickle
*.csv